<div class="container-fluid mainBody justify-content-center">
    <div class="row">
        <div class="col-4 p-1">
            <app-login></app-login>
        </div>
        <div class="col-auto p-1" *ngIf="(this.auth.user$ | async) === null">
            <app-registration></app-registration>
        </div>
        <div class="col-4 p-1" *ngIf="(this.auth.user$ | async) != null">
            <app-all-users></app-all-users>
        </div>
        <div class="col-12 p-1" *ngIf="(this.auth.user$ | async) != null">
            <app-team ></app-team>
        </div>
    </div>
</div>