<div class="d-flex bg-light">
    <a class="nav-button lead fs-2 p-1">
        <i class="fa-solid fa-people-roof p-1 "></i>
        Baza
    </a>
    <a class="nav-button lead fs-2 p-1">
        <i class="fa-solid fa-people-roof p-1 "></i>
        Baza
    </a>
    <a class="nav-button lead fs-2 p-1">
        <i class="fa-solid fa-people-roof p-1 "></i>
        Baza
    </a>
    <a class="nav-button lead fs-2 p-1">
        <i class="fa-solid fa-people-roof p-1 "></i>
        Baza
    </a>
    

</div>
