<div class="card loginbox">
    <div class="card-header bg-warning">
        Logowanie
    </div>
    <div class="card-body pt-3 lead text-center">
        <h5>Witaj w <strong>YourScheduler!</strong></h5>
        <p class="card-text">Zaloguj się używając swojego adresu email oraz hasła, które nadałeś przy rejestracji.</p>
    </div>
    <form class="p-3">
        <div class="form-group lead">
            <label for="InputEmail" class="p-1">Adres e-mail</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Wpisz swój adres e-mail">
        </div>
        <div class="form-group lead">
            <label for="InputPass" class="p-1">Hasło</label>
            <input type="password" class="form-control" id="InputPass" placeholder="Wpisz hasło, min. 8 znaków">
        </div>
        <div class="d-grid p-5">
            <button type="submit" class="btn btn-warning" style="--bs-btn-color: #000;"><strong>Zaloguj się</strong></button>
        </div>
    </form>
    <!-- <div class="row py-2">
        <div class="col px-0 mx-0">
            Adres e-mail:
        </div>
        <div class="col px-0">
            Adres e-mail:
        </div>
    </div>-->
</div>